    a,a:visited {color: #6f0000;}
    a:hover {color: #FFF;}
    #bottom-wrapper a {color: #abb3b4;}
    #bottom-wrapper a:hover {color: #cccccc;}
    #footer-wrapper a, #footer-menu-wrapper a {color: #6f0000;}
    #footer-wrapper a:hover, #footer-menu-wrapper a:hover {color: #abb3b4;}         
    #bottom-wrapper li {border-color: #1c2123;}
    #bottom-wrapper h3 {color: #cccccc;}
    #equal-well a, #equal-well a:visited {color: #6f0000;}
    #equal-well a:hover {color: #787c7f;}
    #equal-well .main-menu ul:first-child > li,
    #equal-well .main-menu ul:first-child,
    #equal-well .main-menu .menu ul li,
    #equal-well li {border-color: #fff;}
    h1, h2, h3, h4, h5, h6 {color: #fff;}
    .entry-title a {color: #3c4243;}
    .entry-title a:hover {color: #6f0000;}      
    .sidebar-heading {color: #f5f5f5;}
    #social-icons a {color: #c8c8c8;}
    #social-icons a:hover {color: #7b0000;}
    #socialbar .genericon {background-color: #ededed;}
    .entry-date-box {background-color: #3d4344; color: #ffffff;}        
    #equal-well nav.main-menu ul li, #equal-well nav.main-menu ul li a, #equal-well nav.main-menu ul li.home.current-menu-item a:not(.current_section) {color: #f5f5f5;}
    #equal-well nav.main-menu ul li a:hover {color: #6f0000;}
    #equal-well .menu-desc {color: #8f8f93;}
    #equal-well .main-menu .menu ul {background-color:#222829;}         
    #equal-well .main-navigation .current-menu-item > a,
    #equal-well .main-navigation .current-menu-ancestor > a,
    #equal-well .main-navigation .current_page_item > a,
    #equal-well .main-navigation .current_page_ancestor > a,
    #equal-well .main-navigation ul.sub-menu li.current-menu-item > a,
    #equal-well .main-navigation ul.sub-menu li.current-menu-ancestor > a,
    #equal-well .main-navigation ul.sub-menu li.current_page_item > a,
    #equal-well .main-navigation ul.sub-menu li.current_page_ancestor > a {
        color:#6f0000;
    }