<div class="product_wide_stairs">
    <div class="stairs_left">
    <img src="{{{img_src}}}" width="200" height="280"  onclick="window.location.href=`/{{{lang}}}/{{{section_url}}}/{{{id}}}`; return false">
    </div>
    
    <div class="stairs_right">
        <h3  onclick="window.location.href=`/{{{lang}}}/{{{section_url}}}/{{{id}}}`; return false">{{{name}}}</h3>
        <p>{{{description}}}</p>
    <a href="#" class="{{{shop_class}}}" id="{{{id}}}" product_id="">{{{to_basket}}}</a><br>
    <strong>{{{price}}} {{{price_rub}}}</strong>
    </div>
</div>
<div class="clr"></div>